@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
font-family: 'Roboto Condensed', sans-serif;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
height: 100vh;
}
.bc{
background: url("https://source.unsplash.com/random/1000x1000")    no-repeat   center center/cover;
position: absolute;
top: -30px;
left: -30px;
height: calc(100vh + 60px);
width: calc(100vw + 60px);
z-index: -1;
filter: blur(80px);
} 
.loading-text{
    font-size: 70px;
    color: #fff;
}